PORT=3000
NODE_ENV=development

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3000

JSON_WEB_TOKEN_SECRET=<your_jwt_secret>

EMAIL_USER=<your_gmail_address>
EMAIL_PASS=<your_gmail_app_password>

DB_CONNECTION_URL=mongodb://localhost:27017/
DATABASE=ecommerce

UPLOAD_DIR=<upload_directory_path>

SSL_STORE_ID=<your_ssl_store_id>
SSL_STORE_PASSWORD=<your_ssl_store_password>
SSL_IS_LIVE=false

CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME